<!DOCTYPE html>
<html>
  <head>
    <style>
     html, body { margin: 0; }
     body { padding: 0.5em; font-family: sans-serif; }
     h1 { margin: 0 0 1em 0; font-size: 2em; }
     h2 { margin: 0 0 0.5em 0; }
     p { margin: 0 0 0.25em 0; }
     .btn {
       display: inline-block;
       padding: 0.35em 1.2em;
       border: 0.1em solid black;
       margin: 0 0 0 1em;
     }
     .btn-resume { background-color: #04AA6D; color: white; }
     .btn-pause { background-color: #6D4008; color: white; }
     .btn-trigger { background-color: #1D008A; color: white; }
     .job {
       border-top: 1px solid gray;
       padding: 1em 0;
     }
     .row {
       display: flex;
       flex-direction: row;
       align-items: baseline;
     }
    </style>
    <title>{{env}} scheduled jobs</title>
  </head>
  <body>
    <header><h1>{{env}} scheduled jobs</h1></header>
    <section>
      {{#each jobs}}
        <article class="job job-{{status}}">
          <h2>{{name}} &mdash; {{pattern}}</h2>
          {{#if running}}
            <p>Currently running since {{currentRunStart}} ({{currentRunDurationSecs}}s.)</p>
          {{/if}}
          <div class="row">
            {{#if paused}}
              <p>Paused.</p>
              <form action="/jobs/{{name}}/resume" method="post">
                <input class="btn btn-resume" type="submit" value="Resume" />
              </form>
            {{else}}
              <p>Next run: {{nextRunStart}} ({{nextRunInSecs}}s.)</p>
              <form action="/jobs/{{name}}/pause" method="post">
                <input class="btn btn-pause" type="submit" value="Pause" />
              </form>
              {{#unless running}}
                <form action="/jobs/{{name}}/trigger" method="post">
                  <input class="btn btn-trigger" type="submit" value="Run now" />
                </form>
              {{/unless}}
            {{/if}}
          </div>
        </article>
      {{/each}}
    </section>
  </body>
  <script type="text/javascript">
   function onSubmit(e, form) {
     e.preventDefault()
     fetch(e.target.action, { method: e.target.method }).then(() => location.reload())
   }
   const forms = document.body.getElementsByTagName("form")
   for (const form of forms) {
     form.addEventListener("submit", onSubmit)
   }
  </script>
</html>
